<div class="sm-root">

  <div class="sm-empty" *ngIf="pistas.length === 0">
    Sin pistas.
  </div>

  <div class="sm-channels">
    <ng-container *ngFor="let p of pistas; let i = index; trackBy: trackByIndex">
      <app-mixer-channel
        *ngIf="p.segmentos.length > 0"
        [pista]="p"
        [index]="i"
        [reproduciendo]="reproduciendo"
        [isSolo]="soloActive === i"
        (liveUpdate)="liveUpdate.emit($event)"
        (toggleMute)="togglePista.emit($event)"
        (toggleSolo)="onToggleSolo($event)"
        (eliminar)="eliminar.emit($event)">
      </app-mixer-channel>
    </ng-container>
  </div>

</div>
